# file with student github username
# student_github.txt

#student repos
*_Homework_*

# hw results
hw1_result.txt
hw2_result.txt
hw3_result.txt

.DS_Store

# homework scripts
hw3.zip
hw2_solution_scripts
hw3_solution_scripts